* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}


#main {
 margin: 50px;
}

.one {
  display: flex;
  justify-content: space-between;
}

.one > h1 {
  font-size: 3rem;
  color: olivedrab;
}

.one > p {
  font-size: 2rem;
  color: orangered;
}