* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: wheat;
}

h1 {
  border-style: solid;
  padding: 5px;
  background-color: seashell;
  border-color: darkkhaki;
}


#main {
 margin: 50px;
}

.one {
  display: flex;
  justify-content: space-between;
}

.one > h1 {
  font-size: 3rem;
  color: olivedrab;
}

.one > p {
  font-size: 2rem;
  color: orangered;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  background-color: lavenderblush;
  border-color: lightcoral;
}